.form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container input, textarea{
  width: 60%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border-bottom: cornsilk;
}